:is(*, *::before, *::after) {
  box-sizing: border-box;
}

:is(html, body) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #011627;
}

#root {
  display: grid;
  grid-template-rows: 32px minmax(0, 1fr);
  height: 100%;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;

  p {
    color: rgb(255 255 255 / 0.4);
    font-size: 0.8125rem;
    margin: 0;
  }
}

#app {
  display: grid;
  height: 100%;

  & > * {
    grid-area: -1 / 1;
  }

  &[data-editable="true"] {
    #editor-fallback {
      visibility: hidden;
    }
  }

  &[data-editable="false"] {
    #editor-container {
      visibility: hidden;
    }
  }

  #editor-fallback {
    button {
      background: transparent;
      border: none;
      color: white;
    }
  }
}

#editor-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}
