:is(*, *::before, *::after) {
  box-sizing: border-box;
}

:is(html, body) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #011627;
}

#root {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 32px 40px minmax(0, 1fr);
  height: 100%;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;

  p {
    color: rgb(255 255 255 / 0.4);
    font-size: 0.8125rem;
    margin: 0;
  }
}

#tab-bar {
  display: flex;

  button {
    color: white;
    background: transparent;
    border: none;
    border-radius: 0;

    &[data-active="false"] {
      opacity: 0.5;
    }
  }
}

#app {
  display: grid;
  height: 100%;
  /* border: 2px solid red; */
  /* width: 100vw; */

  & > * {
    grid-area: -1 / 1;
  }

  &[data-editable="true"] {
    #editor-fallback {
      visibility: hidden;
    }
  }

  &[data-editable="false"] {
    #editor-container {
      visibility: hidden;
    }
  }

  #editor-fallback {
    button {
      background: transparent;
      border: none;
      color: white;
    }
  }
}

#editor-container {
  width: 100vw;
  height: calc(100vh - 72px);

  &[data-active="false"] {
    visibility: hidden;
    z-index: -1;
  }
}

#editor-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error-banner {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: calc(100vw - 1rem * 2);
  max-width: max-content;
  background: rgb(200 0 40);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 100vmax;

  p {
    font-size: 0.85rem;
    color: white;
    margin: 0;
  }
}

button {
  cursor: pointer;
}
