:is(*, *::before, *::after) {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:is(html, body) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background: rgb(12, 12, 12);
  /* background: blue; */
}

#root {
  --nav-height: 32px;
  --tab-bar-height: 40px;
  --border-color: rgb(255 255 255 / 0.1);

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: var(--nav-height) var(--tab-bar-height) minmax(0, 1fr);
  height: 100%;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-block-end: 1px solid var(--border-color); */
  app-region: drag;

  p {
    color: rgb(255 255 255 / 0.4);
    font-size: 0.75rem;
    margin: 0;
  }
}

#tab-bar {
  --text-opacity: 1;

  display: flex;
  justify-content: space-between;
  isolation: isolate;
  padding: 0 1rem 0.5rem;

  & > div {
    display: flex;
    gap: 0.375rem;
  }

  .tab {
    position: relative;
    display: grid;

    button {
      &[data-active="false"] {
        --text-opacity: 0.4;
      }
    }

    button.primary-action {
      padding: 0 1.5rem 0 0.5rem;
      outline: 1px solid rgb(255 255 255 / 0.2);

      &[data-active="true"] {
        /* background: rgb(255 255 255 / 0.1); */
      }
    }

    button.secondary-action {
      position: absolute;
      top: 50%;
      right: 0.375rem;
      translate: 0 -50%;
      padding: 0;

      svg {
        vertical-align: bottom;
      }
    }
  }

  button {
    color: rgb(255 255 255 / var(--text-opacity));
    background: rgb(12 12 12 / 0.1);
    border: none;
    border-radius: 0.5rem;
    backdrop-filter: blur(8px);
  }

  button.media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--tab-bar-height) - 0.5rem);
    background: rgb(12 12 12 / 0.1);
    outline: 1px solid rgb(255 255 255 / 0.2);

    &[aria-label="play"] {
      [data-icon="update"] {
        opacity: 0;
      }
    }

    &[aria-label="update"] {
      animation: pulse 500ms infinite alternate;

      [data-icon="play"] {
        opacity: 0;
      }
    }
  }
}

#app {
  display: grid;
  height: 100%;
  /* border: 2px solid red; */
  /* width: 100vw; */

  & > * {
    grid-area: -1 / 1;
  }

  &[data-editable="true"] {
    #editor-fallback {
      visibility: hidden;
    }
  }

  &[data-editable="false"] {
    #editor-container {
      visibility: hidden;
    }
  }

  #editor-fallback {
    button {
      background: transparent;
      border: none;
      color: white;
    }
  }
}

.editor-container {
  width: 100vw;
  height: calc(100vh - var(--nav-height) - var(--tab-bar-height));

  &[data-active="false"] {
    opacity: 0;
    z-index: -1;
  }

  :is(.monaco-editor) {
    --vscode-editorGutter-background: transparent;
    --vscode-editor-background: transparent;
    --vscode-focusBorder: transparent !important;
    --vscode-editorLineNumber-foreground: rgb(255 255 255 / 0.25);

    .view-overlays .current-line {
      background: rgb(255 255 255 / 0.075);
    }
  }

  .monaco-mouse-cursor-text > .view-line > span:has(span:not(:empty)) {
    background: rgb(12, 12, 12);
  }
}

#editor-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
}

#vis-container {
  position: absolute;
  inset: 0;
  transition: opacity 500ms ease-out;

  &[data-visible="false"] {
    opacity: 0;
  }
}

#error-banner {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: calc(100vw - 1rem * 2);
  max-width: max-content;
  background: rgb(200 0 40);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 100vmax;

  p {
    font-size: 0.85rem;
    color: white;
    margin: 0;
  }
}

button {
  cursor: pointer;
}
